---
layout: archive
permalink: /notes/
title: "Notes"
author_profile: true
---
Shorter and longer notes, newest first. 
<br>
For long-form posts, see <a href="https://jmkorhonen.github.io/essays/">Essays</a>; for everything in reverse chronological order, see <a href="https://jmkorhonen.github.io/year-archive/">EVERYTHING</a>.
{% include base_path %}

{% assign notes = site.posts | where_exp: "p", "p.tags contains 'Notes'" %}
{% assign written_year = 'None' %}

{% for post in notes %}
  {% assign year = post.date | date: '%Y' %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% assign written_year = year %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
