---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<h2>Work and research</h2>
<a href="https://jmkorhonen.github.io/projects/DYNAMO/">DYNAMO (Dynamic Modelling of Circular Econonomy)</a>. Developing agent-based and other modelling tools to model Circular Economy transitions and analyze markets. <a href="https://www.syke.fi/en">Finnish Environment Institute (Syke)</a>, 2025-2028.

<h2>Other stuff</h2>
<a href="https://jmkorhonen.github.io/projects/MapEditor/">MapEditor, a very simple browser-based tool for inputting location-based data (2025).</a> Can be customized easily for project-specific purposes.

{% include base_path %}


{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}
